@include set (
    (
        header: (
            letter-spacing: -.01em,
            middle: (
                background-color: transparent,
                color: #fff,
                font-weight: 600
            )
        )
    )
);

$primary-color: #2879fe;